<!DOCTYPE html>
<html>
  <head>
    <title>ChessApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="has-navbar-fixed-top">
    <!-- Notices for devise flash messages -->
    <% flash.each do |key, msg|%>
      <% if key == "notice" %>
        <div class="notification is-success has-text-centered m-0"> <%= msg %> </div>
      <% else %>
        <div  class="notification is-danger has-text-centered m-0"> <%= msg %> </div>
      <% end %>
    <% end %>

    <!-- Header Links -->
    <nav class="navbar is-fixed-top">
        <% if user_signed_in? %>
          <%= link_to "My Dashboard", dashboard_path, class: "navbar-item is-tab" %>
          <%= link_to "My Games", games_path, class: "navbar-item is-tab" %>
          <%= link_to "My Profile", edit_user_registration_path, class: "navbar-item is-tab" %>
        <% else %>
          <% unless current_page?(new_user_registration_path) || current_page?(new_user_session_path) || current_page?(new_user_password_path)%>
            <%= link_to "Sign Up", new_user_registration_path, class: "navbar-item" %>
            <%= link_to "Log In", new_user_session_path, class: "navbar-item" %>
          <% end %>
        <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
